<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>
<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <th>Variable</th>
                <th>Pipe</th>
                <th>Salida</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{nombre2}}</td>
                    <td>perzonalizado2</td>
                    <td>{{nombre2|capitalizado}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>uppercase</td>
                    <td>{{nombre|uppercase}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>lowercase</td>
                    <td>{{nombre|lowercase}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:3</td>
                    <td>{{nombre|slice:3}}</td>
                </tr>
                <tr>
                    <td>{{arreglo}}</td>
                    <td>slice:1:5</td>
                    <td>{{arreglo|slice:1:5}}</td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>number:3.0-0</td>
                    <td>{{PI|number:'3.0-0'}}</td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>number:'.0-2</td>
                    <td>{{PI|number:'.0-2'}}</td>
                </tr>
                <tr>
                    <td>{{porcentaje}}</td>
                    <td>percent</td>
                    <td>{{porcentaje|percent}}</td>
                </tr>
                <tr>
                    <td>{{porcentaje}}</td>
                    <td>percent:2.2-2</td>
                    <td>{{porcentaje|percent:'2.2-2'}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency</td>
                    <td>{{salario|currency}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency:'EUR'</td>
                    <td>{{salario|currency:'EUR'}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency:'CAD':'symbol-narrow':'.0-0'</td>
                    <td>{{salario|currency:'CAD':'symbol-narrow':'.0-0'}}</td>
                </tr>
                <tr>
                    <td>{{valorPromesa}}</td>
                    <td>async</td>
                    <td>{{valorPromesa|async}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date</td>
                    <td>{{fecha|date}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date:'dd/MMMM/yyyy'</td>
                    <td>{{fecha|date:'dd/MMMM/yyyy'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date:'dd/MMMM/yyyy':'':'{{idioma}}'
                        <br>
                        <button class="mr-1 btn btn-primary" (click)="cambiarIdioma('es')">Español</button>
                        <button class="mr-1 btn btn-secondary" (click)="cambiarIdioma('en')">Inglés</button>
                        <button class="mr-1 btn btn-success" (click)="cambiarIdioma('fr')">Frances</button>
                    </td>
                    <td>{{fecha|date:'dd/MMMM/yyyy':'':idioma}}</td>
                </tr>

                <tr>
                    <td>{{nombre}}</td>
                    <td>contraseña: {{activarPass}}
                        <br>
                        <button class="btn btn-outline-primary" (click)="activarPass = !activarPass">
                            Activar/Desactivar
                        </button>
                    </td>
                    <td>{{nombre | ocultarTexto:activarPass}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h4>slice</h4>
<ul>
    <li *ngFor="let item of arreglo | slice:0:5">{{item}}</li>
</ul>
<h4>JSON</h4>
<div class="row mb-5">
    <div class="col"><pre>{{heroe|json}}</pre></div>
</div>

<h3 class="mt-4"> DOM Seguro</h3>
<div class="row">
    <div class="col">
        <iframe width="560" height="315" [src]="videoUrl | domseguro" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>
</div>